@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(259, 41%, 67%);
  margin-inline: 1rem;
  background-image: url(../bg.webp);
  background-position: top center;
  background-repeat: no-repeat;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
fieldset label {
  font-size: 0.75rem;
  letter-spacing: 1.25px;
  display: block;
  font-weight: 800;
  color: #fff;
  margin-bottom: 0.5rem;
}
fieldset input {
  display: inline;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 86%);
  font-size: 1.25rem;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.062745098);
  color: #fff;
}
fieldset input::-webkit-input-placeholder {
  color: #fff;
}
fieldset input::-moz-placeholder {
  color: #fff;
}
fieldset input:-ms-input-placeholder {
  color: #fff;
}
fieldset input::-ms-input-placeholder {
  color: #fff;
}
fieldset input::placeholder {
  color: #fff;
}
fieldset input:focus {
  border: 1px solid hsl(259, 41%, 67%);
  outline: none;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
fieldset .wrapper {
  width: 30%;
  position: relative;
}
fieldset .wrapper:not(:last-child) {
  margin-right: 1rem;
}
fieldset #day-error,
fieldset #month-error,
fieldset #year-error {
  color: hsl(0, 100%, 67%);
  position: absolute;
  left: 0;
  top: 5rem;
}

.main_container {
  margin-inline: auto;
  padding: 2rem;
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(0, 0, 0, 0.4)), color-stop(90%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 5%, rgba(0, 0, 0, 0) 90%);
  border-radius: 24px;
  border-bottom-right-radius: 100px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  outline: 1px solid rgba(255, 255, 255, 0.3764705882);
  max-width: 840px;
  -webkit-animation: outline 5s ease-in infinite;
          animation: outline 5s ease-in infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

hr {
  height: 2px;
  width: 100%;
}

.bg {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}
.bg img {
  height: 24px;
}
.bg:hover {
  background-color: #151515;
  cursor: pointer;
}

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-block: 4rem;
}

.flex_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.flex_group span {
  font-size: 3.5rem;
  font-weight: 800;
  color: hsl(259, 100%, 65%);
  letter-spacing: -2px;
  width: 1.5em;
  line-height: 1;
  margin-right: 0.5rem;
  text-align: end;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4392156863);
}
.flex_group p {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -2px;
  font-style: italic;
  line-height: 1;
}

@-webkit-keyframes outline {
  0% {
    outline: 1px solid #fff;
  }
  50% {
    outline: 1px solid hsl(259, 41%, 67%);
  }
  100% {
    outline: 1px solid #fff;
  }
}

@keyframes outline {
  0% {
    outline: 1px solid #fff;
  }
  50% {
    outline: 1px solid hsl(259, 41%, 67%);
  }
  100% {
    outline: 1px solid #fff;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../bg2.webp);
    background-position: center;
    background-color: hsl(259, 41%, 67%);
  }
  .main_container {
    padding: 3.5rem;
  }
  .main_container .bg {
    right: 0;
  }
  .main_container .flex_group span,
  .main_container .flex_group p {
    font-size: 5rem;
  }
}